@mixin --viewportMd {
  @media (min-width: 768px) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 14px;
  background-color: #fff;
}
.navbar {
  .navbar-header {
    .shopping-cart {
      // transform: translateX(-150%);
      // left: 100%;
      // position: absolute;
    }
  }

  // transform: translateX(-50%);
  // left: 50%;
  // position: absolute;
  img {
    width: 2rem;
    height: auto;
  }
}
.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  .product-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    @include --viewportMd {
      width: 80%;
    }
    margin: auto;
    h1 {
      margin: 1rem;
    }
    > span a {
      text-decoration: none;
      color: rgb(40, 100, 200);
      &::after {
        content: ' →';
      }
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
    .products {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(18, auto);
      grid-auto-flow: column;
      grid-column-gap: 0rem;
      grid-row-gap: 2rem;
      @include --viewportMd {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9, fit-content(20%));
        grid-column-gap: 1rem;
      }
      .product__main {
        display: flex;
        flex-flow: column;
        // justify-content: flex-end;
        align-items: center;
        margin: auto;
        .product__img {
          display: flex;
          align-content: flex-end;
          justify-content: flex-end;
          align-items: flex-end;
          margin: auto;
          width: 10rem;
          height: 10rem;
          @include --viewportMd {
            width: 20rem;
            height: 20rem;
          }
          img {
            width: 100%;
          }
        }
        .product__name {
          h2 {
            font-size: 1.5rem;
            font-weight: bold;
            @include --viewportMd {
              font-size: 2.4rem;
            }
          }
        }
        .product__price {
          padding-bottom: 1rem;
        }
        .product__color {
          .product__color--silver {
            display: inline-block;
            padding: 0.7rem;
            margin: 0.2rem;
            border-radius: 50%;
            background-color: rgb(200, 200, 200);
          }
          .product__color--grey {
            display: inline-block;
            padding: 0.7rem;
            margin: 0.2rem;
            border-radius: 50%;
            background-color: rgb(178, 178, 183);
          }
          .product__color--gold {
            display: inline-block;
            padding: 0.7rem;
            margin: 0.2rem;
            border-radius: 50%;
            background-color: rgb(220, 203, 180);
          }
        }
      }
      .buy-button {
        display: flex;
        align-items: center;
        justify-content: center;
        button.buy {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 4rem;
          height: 2rem;
          border-radius: 3rem;
        }
      }
      hr {
        width: 90%;
        margin: 2rem auto;
      }

      // margin: auto;

      .spec {
        display: flex;
        flex-flow: column;
        // justify-content: flex-start;
        // justify-items: flex-start;
        align-items: center;
        text-align: center;
        width: 60%;
        margin: 0 auto;
        font-size: 1rem;
        b {
          font-size: 2rem;
        }
        p {
          margin-top: 0.5rem;
          &.text-muted {
            margin: -1rem;
          }
        }
      }
    }
  }
}

.disclaimer {
  width: 80%;
  margin-top: 5rem;
  font-size: 0.8rem;
}
